.container-header {
  text-align: left;
}
.jobs-container {
  border: 1px solid black;
  padding: 15px;
  width: 96%; 
  margin: 10px 5px;
}
.details-path {
  text-align: left;
}
.details-title {
  text-align: left;
}
.info {
  text-align: justify;
}
